# Example environment configuration for wt2xt
# Copy this file to `.env` in the project root and adjust values as needed.
# Never commit your real credentials to version control.

# Basic Auth for accessing the API (optional). If both are set, auth is required.
API_USER=
API_PASS=

# API server port (optional, defaults to 3000)
PORT=3000

# Origin for access from a browswer app
CORS_ORIGIN=http://localhost:5173

# Credntials for Archetype Designer API
AD_USER=
AD_PASS=
