/tmp
/out-tsc
.idea/*

/node_modules
/lib

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
/templates/hidden/*
/config/hidden/*

/out
/wt2xtools
/templates/GENOC - Research registration.v1.wtx.json
/wt2xwin.exe

/cli.zip
/cli 2.zip
/wt2xmacos
/cli/wt2xmacos
/cli/wt2xwin.exe
/templates/IPS  -  Allergies and intolerances.wtx.json
/wtxt
/myapp
/wt2xt
/templates/GGD - Laboratory report.json
